{% extends 'base.html'%}
{%block content%}
    <div class="container">
        {% with errors = get_flashed_messages(category_filter=["succcess"])%}
        {% if success %}
            <div class="alert alert-success" role="alert">
                <ul>
                {% for msg in success%}
                    <li>{{msg}}</li>
                {% endfor %}
                </ul>
          </div>
        {% endif %}
        {% endwith %}
        <button class="btn btn-success float-right mt-5 mb-2" data-toggle="modal" data-target="#exampleModal">Add</button>
        <table class="table table-bordered">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for product in product_list%}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.category.name}}</td>
                        <td>{{product.created_at}}</td>
                        <td>{{product.updated_at}}</td>
                        <td>
                            <div class="dropdown">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/update/product/{{product.id}}">Update</a>
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="/delete/product/{{product.id}}">Delete</a>
                            </div>
                          </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Button trigger modal -->  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/addproduct" method="POST">
                <div class="form-group">
                  <label for="name">Product Name</label>
                  <input name="product_name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Product Name">
                </div>
                <div class="form-group">
                    <label for="name">Category Name</label>
                    <select name="category_id" class="form-control">
                        <option value="1">Fruits</option>
                      </select>
                </div>
                
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{%endblock%}

   